.iconWrapper {
  @apply flex items-center gap-8 w-[240px] h-full cursor-pointer hover:bg-gray-100;
  padding: 24px 0 24px 24px;
}


.chevron {
  @apply absolute flex items-center justify-center bg-white shadow-md shadow-indigo-500/40 p-1 rounded-full;
  z-index: 99;
  top: 72px;
  right: -12px; 
  cursor: pointer;
}